<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>
<br>
<p>Reviews</p>
<ul>
<p><% @restaurant.reviews.each do |review| %></p>
  <li> <%= review.rating%> stars </li>
  <p> <%= review.content%> </p>
  <% end %>
</ul>

<%# <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

<h2>Create a new review for <%= @restaurant.name %> </h2>
<%= render "form_review", restaurant: @restaurant, review: @review %>
